<div class="trunkstore_popup number-regextern regextern clearfix">
            <div class="clearfix popup-content">
                    <div class="regextern-list">
                        <div class="control-group clearfix regextern-line{{#if this.disabled}} disabled{{/if}}" data-restriction="{{@key}}">
                                    <label class="control-label" for="active">{{ i18n.regextern.active }}</label>
                                    <div class="active" data-on="true" data-off="false" data-on-label="{{i18n.on}}" data-off-label="{{i18n.off}}">
                                        {{#monsterSwitch}}<input type="checkbox" id="active" name="active"{{#if active}} checked="checked"{{/if}}></input>{{/monsterSwitch}}
                                    </div>
                        </div>
                        <div class="control-group clearfix regextern-line{{#if this.disabled}} disabled{{/if}}" data-restriction="{{@key}}">
                                    <label class="control-label" for="diddebug">{{ i18n.regextern.diddebug }}</label>
                                    <div class="diddebug" data-on="true" data-off="false" data-on-label="{{i18n.on}}" data-off-label="{{i18n.off}}">
                                        {{#monsterSwitch}}<input type="checkbox" id="diddebug" name="diddebug"{{#if diddebug}} checked="checked"{{/if}}></input>{{/monsterSwitch}}
                                    </div>
                        </div>
                        <div class="control-group clearfix regextern-line{{#if this.disabled}} disabled{{/if}}" data-restriction="{{@key}}">
                                    <label class="control-label" for="pvt_activestart">{{ i18n.regextern.pvt_activestart }}<i class="help-popover icon-question-sign" data-toggle="tooltip" data-placement="right" data-original-title="{{ i18n.regextern.pvt_activestartHelp }}"></i></label>
                                    <div class="controls">
                                        {{ pvt_activestart }}
                                    </div>
                        </div>
                        <div class="control-group clearfix regextern-line{{#if this.disabled}} disabled{{/if}}" data-restriction="{{@key}}">
                                    <label class="control-label" for="pvt_activestop">{{ i18n.regextern.pvt_activestop }}<i class="help-popover icon-question-sign" data-toggle="tooltip" data-placement="right" data-original-title="{{ i18n.regextern.pvt_activestopHelp }}"></i></label>
                                    <div class="controls">
                                        {{ pvt_activestop }}
                                    </div>
                        </div>
                        <div class="control-group clearfix regextern-line{{#if this.disabled}} disabled{{/if}}" data-restriction="{{@key}}">
                                    <label class="control-label" for="pvt_created">{{ i18n.regextern.pvt_created }}</label>{{debug pvt_created}}
                                    <div class="controls">
                                        {{ toFriendlyDate pvt_created "shortDate" }} {{ toFriendlyDate pvt_created "time" }}
                                    </div>
                        </div>
                        <div class="control-group clearfix regextern-line{{#if this.disabled}} disabled{{/if}}" data-restriction="{{@key}}">
                                    <label class="control-label" for="pvt_modified">{{ i18n.regextern.pvt_modified }}</label>{{debug pvt_modified}}
                                    <div class="controls">
                                        {{ toFriendlyDate pvt_modified "shortDate"}} {{ toFriendlyDate pvt_modified "time"}}
                                    </div>
                        </div>
                        <div class="control-group clearfix regextern-line{{#if this.disabled}} disabled{{/if}}" data-restriction="{{@key}}">
                                    <label class="control-label" for="pvt_changed">{{ i18n.regextern.pvt_changed }}</label>{{debug pvt_changed}}
                                    <div class="controls">
                                        {{ toFriendlyDate pvt_changed "shortDate" }} {{ toFriendlyDate pvt_changed "time" }}
                                    </div>
                        </div>
                        <div class="control-group clearfix regextern-line{{#if this.disabled}} disabled{{/if}}" data-restriction="{{@key}}">
                                    <label class="control-label" for="status">{{ i18n.regextern.status }}</label>{{debug reged_state}}
                                    <div class="controls">
                                        {{ reged_state }} {{ reged_status }}
                                    </div>
                        </div>

                    </div>
                </div>
</div>
